<!DOCTYPE html>
<html>
   <head>
      <title>Choose Input Type</title>
      <link rel="stylesheet" type="text/css" href="../static/css/css_header.css">
      <link rel="stylesheet" type="text/css" href="../static/css/css_chooseinput.css">
      <script src="../static/js/myscripts.js"></script>

   </head>
   
   <header>

    <!-- left side of the header -->
    <div class="header-left">
      <button class="sidebar-btn" onclick="toggleSidebar()">&#8801;</button>

      <div class="sidebar">

        <h2 class="sidebar-title">Novels Websites Suggestions</h2>

        <ul>
          <div class="suggestion">
          <li>
          <a href="https://www.gutenberg.org/" target="_blank">Project Gutenberg</a>
          <p class="description">A digital library with over 60,000 free eBooks, including many children's books.</p>
          </li>
          </div>

          <div class="suggestion">
            <li>
            <a href="https://openlibrary.org/" target="_blank">Open Library</a>
            <p class="description">A digital library with over 1.7 million free eBooks, including many children's books.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://manybooks.net/" target="_blank">ManyBooks</a>
            <p class="description">A digital library with over 50,000 free eBooks, including many children's books.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://magicblox.com/" target="_blank">MagicBlox Children's Book Library</a>
            <p class="description">A website that offers a large selection of free children's books in PDF format.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://digilibraries.com/" target="_blank">DigiLibraries</a>
            <p class="description">A digital library with over 33,000 free eBooks, including many children's books.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://www.bartleby.com/" target="_blank">Bartleby</a>
            <p class="description">A digital library with over 5,000 free eBooks, including many children's books.</p>
            </li>
            </div>

        </ul>

      </div>

    </div>

    <!-- middle side of the header -->
    <div class="header-middle">
      <img src="../static/Images/logo.png" alt="Your Logo">
    </div>

    <!-- right side of the header -->
    <div class="header-right">
      <nav>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </div>

  </header>


  <body>

    <div class="container">
      <h2 class="choose-type">Choose your input type</h2>
      <div class="choice" id="option1">
        <img src="../static/Images/keyboard-typing.jpg" alt="Choice 1">
        <h2>Text</h2> <br>
        <p>Enter the page content you want to visualize manually using keyboard.</p>
        <div class="neon"></div>
      </div>
      <div class="choice" id="option2">
        <img src="../static/Images/polaroid.jpg" alt="Choice 2">
        <h2>Image</h2> <br>
        <p>Upload the page content you want to visualize as a screenshot or an image taken by camera.</p>
        <div class="neon"></div>
      </div>
      <div class="choice" id="option3">
        <img src="../static/Images/best-free-pdf-reader.jpg" alt="Choice 3">
        <h2>PDF</h2> <br>
        <p>Upload many pages my adding them in one pdf or upload a whole pdf and specify pages' numbers.</p>
        <div class="neon"></div>
      </div>
      <div class="choice" id="option4">
        <img src="../static/Images/audio_record.png" alt="Choice 4">
        <h2>Audio</h2> <br>
        <p>Upload the page content you want to visualize as a recorded audio file.</p>
        <div class="neon"></div>
      </div>
      <button class="submit-button" type="button">Submit</button>
    </div>
   </body>
</html>
