<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/css_header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/css_homepage.css">
    <script src="../static/js/js_header.js"></script>
    <script src="../static/js/js_homepage.js"></script>
  </head>

  <header>

    <!-- left side of the header -->
    <div class="header-left">
      <button class="sidebar-btn" onclick="toggleSidebar()">&#8801;</button>

      <div class="sidebar">

        <h2 class="sidebar-title">Novels Websites Suggestions</h2>

        <ul>
          <div class="suggestion">
          <li>
          <a href="https://www.gutenberg.org/" target="_blank">Project Gutenberg</a>
          <p class="description">A digital library with over 60,000 free eBooks, including many children's books.</p>
          </li>
          </div>

          <div class="suggestion">
            <li>
            <a href="https://openlibrary.org/" target="_blank">Open Library</a>
            <p class="description">A digital library with over 1.7 million free eBooks, including many children's books.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://manybooks.net/" target="_blank">ManyBooks</a>
            <p class="description">A digital library with over 50,000 free eBooks, including many children's books.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://magicblox.com/" target="_blank">MagicBlox Children's Book Library</a>
            <p class="description">A website that offers a large selection of free children's books in PDF format.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://digilibraries.com/" target="_blank">DigiLibraries</a>
            <p class="description">A digital library with over 33,000 free eBooks, including many children's books.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://www.bartleby.com/" target="_blank">Bartleby</a>
            <p class="description">A digital library with over 5,000 free eBooks, including many children's books.</p>
            </li>
            </div>

        </ul>

      </div>

    </div>

    <!-- middle side of the header -->
    <div class="header-middle">
      <a href="/home_page"> <img src="../static/Images/logo.png" alt="Your Logo"> </a>
    </div>

    <!-- right side of the header -->
    <div class="header-right">
      <nav>
        <ul>
          <li><a href="/guide">Guide</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>

  </header>
  
 <body>


      <div class="title-container">
        <h1 class="title">Your Chance To <br>Visualize Your Imagination</h1>
      </div>

      <div class="image-grid">
        <div class="image-row">
          <div class="showcase-item">
            <img src="../static/Images/generated_image1.png" alt="Image 1" />
            <div class="overlay-text">
              <div class="image-caption">She was playing with butterfly in the garden, she was so happy.</div>
            </div>
          </div>
          <div class="showcase-item">
            <img src="../static/Images/generated_image2.png" alt="Image 2" />
            <div class="overlay-text">
              <div class="image-caption">All Sally could remember was crawling under the big trunk of a fallen tree to hide.</div>
            </div>
          </div>
          <div class="showcase-item">
            <img src="../static/Images/generated_image3.png" alt="Image 3" />
            <div class="overlay-text">
              <div class="image-caption">It was cozy café, full of people enjoying their coffee.</div>
            </div>
          </div>
          <div class="showcase-item">
            <img src="../static/Images/generated_image4.png" alt="Image 4" />
            <div class="overlay-text">
              <div class="image-caption">She was kooky weird grandma with cybercore battle outfit and laughing, I was scared from her.</div>
            </div>
          </div>
        </div>
        <div class="image-row">
          <div class="showcase-item">
            <img src="../static/Images/generated_image5.png" alt="Image 5" />
            <div class="overlay-text">
              <div class="image-caption">The wolf ran to the cave to hide.</div>
            </div>
          </div>
          <div class="showcase-item">
            <img src="../static/Images/generated_image6.png" alt="Image 6" />
            <div class="overlay-text">
              <div class="image-caption">Take a piece of cake and a bottle of wine to your grandmother, she is ill and weak, and they will do her good.</div>
            </div>
          </div>
          <div class="showcase-item">
            <img src="../static/Images/generated_image7.png" alt="Image 7" />
            <div class="overlay-text">
              <div class="image-caption">My owner told me I would be a Service Dog for a person who could not see.</div>
            </div>
          </div>
          <div class="showcase-item">
            <img src="../static/Images/generated_image8.png" alt="Image 8" />
            <div class="overlay-text">
              <div class="image-caption">The two cars crashed in an accident.</div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal-container">
        <div id="modal-content">
          <img id="modal-image" src="" alt="" />
          <div id="modal-caption"></div>
        </div>
      </div>



      <button class="visualize-button"> <a href="/choose_input">Let's Visualize</a></button>


      <section>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </section>
      </body>
</html>
