<!DOCTYPE html>

<html>
<head>
  
    <title>{{ pagetitle }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/css_header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/css_uploadimage.css">
    <script src="../static/js/js_header.js"></script>
    <script src="../static/js/js_uploadimage.js"></script>
    <meta charset="utf-8" />

</head>

<header>

    <div class="header-left">
      <button class="sidebar-btn" onclick="toggleSidebar()">&#8801;</button>

      <div class="sidebar">

        <h2 class="sidebar-title">Novels Websites Suggestions</h2>

        <ul>
          <div class="suggestion">
          <li>
          <a href="https://www.gutenberg.org/" target="_blank">Project Gutenberg</a>
          <p class="description">A digital library with over 60,000 free eBooks, including many children's books.</p>
          </li>
          </div>

          <div class="suggestion">
            <li>
            <a href="https://openlibrary.org/" target="_blank">Open Library</a>
            <p class="description">A digital library with over 1.7 million free eBooks, including many children's books.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://manybooks.net/" target="_blank">ManyBooks</a>
            <p class="description">A digital library with over 50,000 free eBooks, including many children's books.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://magicblox.com/" target="_blank">MagicBlox Children's Book Library</a>
            <p class="description">A website that offers a large selection of free children's books in PDF format.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://digilibraries.com/" target="_blank">DigiLibraries</a>
            <p class="description">A digital library with over 33,000 free eBooks, including many children's books.</p>
            </li>
            </div>

          <div class="suggestion">
            <li>
            <a href="https://www.bartleby.com/" target="_blank">Bartleby</a>
            <p class="description">A digital library with over 5,000 free eBooks, including many children's books.</p>
            </li>
            </div>

        </ul>

      </div>

    </div>

    <div class="header-middle">
      <img src="../static/Images/logo.png" alt="Your Logo">

    </div>

    <div class="header-right">
      <nav>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </div>

  </header>

<body>
    <div class="heading">
        <h1><b>Upload your image</b></h1>
    </div>
</body>


<form id="myForm" action="/process_image" method="POST" enctype="multipart/form-data">
  <input type="file" id="myFile" name="image" onchange="previewImage(event)">
  <div id="preview-container"></div>
  <button type="submit" id="upload-btn" class="hidden"><b>Upload Image</b></button>
  <button type="button" id="back-btn" class="hidden" onclick="additionalAction()"><b>Back</b></button>
</form>

</html>